/public/hot
/public/storage
/public/images
/public/js
/public/css
public/css
public/js
public/fonts
public/vendor
/public/mix-manifest.json
/public/*.js
/public/crm

# Development files
/node_modules
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
laravel-echo-server.lock
crm-echo-server.lock
laravel-echo-server.json
crm-echo-server.json
/npm-debug.log
/build
.phpunit.result.cache
.php_cs.cache
package-lock.json
/.phpintel
/.vscode
cockroach-data/
.DS_Store

# Enviromnent files and keys
.env
/storage/*.key
/storage/credentials.json
/storage/clockwork
.docker.env
