@import "tailwindcss/base";
@import "./base.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

html{
    font-size: 14px;
    min-width: 375px;
}
@screen md{
    html{
        font-size: 16px;
    }
}
